@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

a {
    font-family: "Inter";
    font-size: 14px;
    text-decoration: none;
    color: white;
}

a span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
}

nav {
    background-color: black;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    gap: 24px;
    padding: 12px;
    justify-content: center;
}

nav, main {
    padding: 12px;
}

main {
    margin-top: 10%;
    columns: 2;

}

img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

ion-icon {
    margin: 10px;
    color: white;
    font-size: 32px;
}

footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    gap: 12px;
    justify-content: center;
}